<div class="d-flex justify-content-center mt-5"><span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span></div>
<div class="card" *ngIf="discount_selected">
    <div class="card-header">
        <div class="card-title fs-3 fw-bolder">Editar Campaña de descuento: #{{discount_selected.id}}</div>
    </div>

    <form id="kt_project_settings_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
        <div class="card-body p-9">
            <div class="row mb-8 align-items-center">
                <div class="col-3">
                    <div class="row g-9">
                            <div class="col-12">
                                <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': type_campaign == 1}" data-kt-button="true">
                                    <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="type_campaign" [checked]="type_campaign == 1" (click)="selectedTypeCampaign(1)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Campaña Normal</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': type_campaign == 2}" data-kt-button="true">
                                    <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="type_campaign" [checked]="type_campaign == 2" (click)="selectedTypeCampaign(2)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Campaña Flash</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': type_campaign == 3}" data-kt-button="true">
                                    <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="type_campaign" [checked]="type_campaign == 3" (click)="selectedTypeCampaign(3)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Campaña Banner</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                   </div>
               <div class="col-3">
                <div class="row g-9">
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': type_discount == 1}" data-kt-button="true">
                                <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_discount" [checked]="type_discount == 1" (click)="selectedTypeDiscount(1)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Porcentaje</span>
                                </span>
                            </label>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': type_discount == 2}" data-kt-button="true">
                                <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_discount" [checked]="type_discount == 2" (click)="selectedTypeDiscount(2)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Monto fijo</span>
                                </span>
                            </label>
                        </div>
                    </div>
               </div>
               <div class="col-3">
                <label class="fs-6 fw-bold mt-2 mb-3">Descuento:</label>
                <input type="number" class="form-control form-control-solid" name="discount" [(ngModel)]="discount" placeholder="">
               </div>
               <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <label class="fs-6 fw-bold mt-2 mb-3">Fecha de inicio:</label>
                        <div class="input-group input-group-solid">
                            <input type="date"
                            class="form-control form-control-lg form-control-solid" name="start_date"
                            [(ngModel)]="start_date"
                            />
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="fs-6 fw-bold mt-2 mb-3">Fecha de fin:</label>
                        <div class="input-group input-group-solid">
                            <input type="date"
                            class="form-control form-control-lg form-control-solid" name="end_date"
                            [(ngModel)]="end_date"
                            />
                        </div>
                    </div>
                </div>
               </div>
            </div>

            <div class="row mb-8">
                <div class="col-3">
                    <label class="required fw-bold fs-6 mb-2">Status</label>
                    <select [(ngModel)]="state" class="form-control" name="Status" placeholder="Status">
                        <option value="1">Activo</option>
                        <option value="2">Desactivo</option>
                    </select>
                </div>
            </div>

            <div class="row mb-8 align-items-center">
                 <div class="col-3">
                    <div class="row g-9">
                            <div class="col-12">
                                <label class="fs-6 fw-bold mt-2 mb-3">Selec. tipo de Cupón:</label>
                            </div>
                            <div class="col-12">
                                <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': discount_type == 1}" data-kt-button="true">
                                    <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="discount_type" [checked]="discount_type == 1" (click)="selectedTypeCoupon(1)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Cursos</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-12" *ngIf="type_campaign == 1">
                                <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6" [ngClass]="{'active': discount_type == 2}" data-kt-button="true">
                                    <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="discount_type" [checked]="discount_type == 2" (click)="selectedTypeCoupon(2)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Categorías</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                   </div>
                <div class="col-4" *ngIf="discount_type == 1">
                    <label class="fs-6 fw-bold mt-2 mb-3">Selec. Curso:</label>
                    <div class="d-flex">
                        <select name="course" class="form-select form-select-solid fw-bolder"
                        placeholder="Selec. Curso" [(ngModel)]="course_id">
                            <ng-container *ngFor="let course of courses">
                                <option [value]="course.id">{{course.title}}</option>
                            </ng-container>
                        </select>
                        <button class="btn btn-sm btn-primary" (click)="addCourseSelected()">+</button>
                    </div>
                </div>
                <div class="col-4" *ngIf="discount_type == 2">
                    <label class="fs-6 fw-bold mt-2 mb-3">Selec. Categoría:</label>
                    <div class="d-flex">
                        <select name="category" class="form-select form-select-solid fw-bolder"
                        placeholder="Selec. Categoría" [(ngModel)]="category_id">
                            <ng-container *ngFor="let category of categories">
                                <option [value]="category.id">{{category.name}}</option>
                            </ng-container>
                        </select>
                        <button class="btn btn-sm btn-primary" (click)="addCategorySelected()">+</button>
                    </div>
                </div>
                <div class="col-5" *ngIf="discount_type == 1">
                    <div class="table-responsive">
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                            <thead>
                                <tr class="fw-bolder text-muted">
                                    <th class="min-w-200px">Authors</th>
                                    <th class="min-w-100px text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let scourse of course_selected; let i=index">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-45px me-5">
                                                <img [src]="scourse.image" alt="">
                                            </div>
                                            <div class="d-flex justify-content-start flex-column">
                                                <a href="#" onclick="return false;" class="text-dark fw-bolder text-hover-primary fs-6">{{scourse.title}}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end flex-shrink-0">
                                            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="removeCourse(i)">
                                                <span class="svg-icon svg-icon-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor"></path>
                                                        <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor"></path>
                                                        <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-5" *ngIf="discount_type == 2">
                    <div class="table-responsive">
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                            <thead>
                                <tr class="fw-bolder text-muted">
                                    <th class="min-w-200px">Authors</th>
                                    <th class="min-w-100px text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let scategory of category_selected; let i=index">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-45px me-5">
                                                <img [src]="scategory.image" alt="">
                                            </div>
                                            <div class="d-flex justify-content-start flex-column">
                                                <a href="#" onclick="return false;" class="text-dark fw-bolder text-hover-primary fs-6">{{scategory.name}}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end flex-shrink-0">
                                            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="removeCategory(i)">
                                                <span class="svg-icon svg-icon-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor"></path>
                                                        <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor"></path>
                                                        <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" (click)="save()" class="btn btn-primary" id="kt_project_settings_submit">GUARDAR DESCUENTO</button>
        </div>
    <input type="hidden"><div></div></form>
</div>