<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
  ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Menu Kat -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
    <span class="menu-title">Menú</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div
    class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
  <div
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default:'click', lg: 'hover'}"
    data-kt-menu-placement="right-start"
  >
  <span
  class="menu-link py-3"
  [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
  > 
  <span class="menu-icon"><span class="svg-icon svg-icon-2"
    [inlineSVG]="'./assets/media/icons/duotune/electronics/elc004.svg'"></span></span>
    <span class="menu-title">Cursos</span>
    <span class="menu-arrow"></span>
  </span>

    <div
      class="
        menu-sub
        menu-sub-lg-down-accordion
        menu-sub-lg-dropdown
        menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/cursos/list"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lista de cursos</span></a
        >
      </div>
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/cursos/registro"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Registrar curso</span></a
        >
      </div>
    </div>
  </div>

  <div
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default:'click', lg: 'hover'}"
    data-kt-menu-placement="right-start"
  >
  <span
  class="menu-link py-3"
  [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
  > 
  <span class="menu-icon"><span class="svg-icon svg-icon-2"
    [inlineSVG]="'./assets/media/icons/duotune/communication/com013.svg'"></span></span>
    <span class="menu-title">Usuarios</span>
    <span class="menu-arrow"></span>
  </span>

    <div
      class="
        menu-sub
        menu-sub-lg-down-accordion
        menu-sub-lg-dropdown
        menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/users/list"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lista de usuarios</span></a
        >
      </div>
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/users/admin"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Administrar inscripciones</span></a
        >
      </div>
    </div>
  </div>

  <div
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default:'click', lg: 'hover'}"
    data-kt-menu-placement="right-start"
  >
  <span
  class="menu-link py-3"
  [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
  > 
  <span class="menu-icon"><span class="svg-icon svg-icon-2"
    [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"></span></span>
    <span class="menu-title">Categorías</span>
    <span class="menu-arrow"></span>
  </span>

    <div
      class="
        menu-sub
        menu-sub-lg-down-accordion
        menu-sub-lg-dropdown
        menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/categorias/list"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lista de categorías</span></a
        >
      </div>
    </div>
  </div>

  <div
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default:'click', lg: 'hover'}"
    data-kt-menu-placement="right-start"
  >
  <span
  class="menu-link py-3"
  [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
  > 
  <span class="menu-icon"><span class="svg-icon svg-icon-2"
    [inlineSVG]="'./assets/media/icons/duotune/technology/teh005.svg'"></span></span>
    <span class="menu-title">Cupones</span>
    <span class="menu-arrow"></span>
  </span>

    <div
      class="
        menu-sub
        menu-sub-lg-down-accordion
        menu-sub-lg-dropdown
        menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/cupones/list"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lista de cupones</span></a
        >
      </div>
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/cupones/registro"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Registrar cupón</span></a
        >
      </div>
    </div>
  </div>

  <div
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default:'click', lg: 'hover'}"
    data-kt-menu-placement="right-start"
  >
  <span
  class="menu-link py-3"
  [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
  > 
  <span class="menu-icon"><span class="svg-icon svg-icon-2"
    [inlineSVG]="'./assets/media/icons/duotune/maps/map003.svg'"></span></span>
    <span class="menu-title">Campaña de descuento</span>
    <span class="menu-arrow"></span>
  </span>

    <div
      class="
        menu-sub
        menu-sub-lg-down-accordion
        menu-sub-lg-dropdown
        menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/descuento/list"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lista de descuentos</span></a
        >
      </div>
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/descuento/registro"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Registrar descuento</span></a
        >
      </div>
    </div>
  </div>

  <div
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default:'click', lg: 'hover'}"
    data-kt-menu-placement="right-start"
  >
  <span
  class="menu-link py-3"
  [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
  > 
  <span class="menu-icon"><span class="svg-icon svg-icon-2"
    [inlineSVG]="'./assets/media/icons/duotune/text/txt001.svg'"></span></span>
    <span class="menu-title">Repertorio</span>
    <span class="menu-arrow"></span>
  </span>

    <div
      class="
        menu-sub
        menu-sub-lg-down-accordion
        menu-sub-lg-dropdown
        menu-rounded-0
        py-lg-4
        w-lg-225px
      "
      data-kt-menu-dismiss="true"
    >
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/repertorio/list"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Lista de repertorios</span></a
        >
      </div>
      <div class="menu-item me-lg-1">
        <a
          class="menu-link py-3"
          routerLinkActive="active"
          routerLink="/repertorio/registro"
        ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title">Crear repertorio</span></a
        >
      </div>
    </div>
  </div>

  </div>
</div>
